@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.title {
  background-image: url();
  background-size: cover;
  text-align: center;
}

#name {
  font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  color: white;
}

#cmsc {
  font-family:  monospace;
  color: white;
}

#anime {
  font-family: fantasy;
  color: white;
}
