.jumbotron {
  display: flex;
  align-items: center;
  background-image: url();
  background-size: cover;
  height: auto;
}

#name {
  font-family: cursive;
  font-size: 40px;
  color: white;
}

#cmsc {
  font-family:  monospace;
  font-size: 40px;
  color: white;
}

#anime {
  font-family: fantasy;
  font-size: 40px;
  color: white;
}
